<section class="section projects">
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <h2 class="section__title">Articles</h2>
            </div>
        </div>
    </div>
    <div class="projects__inner">
        {% for article in site.articles limit:3 %}
        <article class="project">
            <div class="project__content">
                <div class="project__info">
                    <div class="container">
                        <div class="row">
                            <div class="project__info__left col col-6 col-d-12">
                                <div class="project__meta">
                                    <span class="project__label">{{ article.categories | join: ', ' }}</span>
                                    <h3 class="project__title"><a href="{{ site.url }}{{ article.url }}">{{
                                            article.title }}</a></h3>
                                    <p class="project__description">
                                        {{ article.title }}
                                    </p>
                                    <a href="{{ article.url}}" class="project__button">Read <i class="fa-solid fa-arrow-right-long"></i></a>
                                </div>
                            </div>
                            <div class="project__info__right col col-6 col-d-12">
                                <div class="project__image">
                                    <img class="lazy" data-src="{{ article.image }}" alt="{{ article.title }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        {% endfor %}
    </div>
    <a href="{{ site.url}}/articles" class="section__button">View all <i class="fa-solid fa-arrow-right-long"></i></a>
</section>