<!-- begin footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <div class="footer__inner">
                    <div class="footer__logo">
                        <a class="logo__link" href="index.html">{{ site.data.main[0] }}</a>
                    </div>
                    <div class="social">
                        <ul class="social__list list-reset">
                            <li class="social__item">
                                <a class="social__link" href="https://twitter.com/{{ site.data.main[3] }}" target="_blank" rel="noopener"
                                    aria-label="Social link">
                                    <span><i class="fa-brands fa-twitter"></i></span>
                                </a>
                            </li>
                            <li class="social__item">
                                <a class="social__link" href="https://facebook.com/{{ site.data.main[4] }}" target="_blank" rel="noopener"
                                    aria-label="Social link">
                                    <span><i class="fa-brands fa-facebook-f"></i></span>
                                </a>
                            </li>
                            <li class="social__item">
                                <a class="social__link" href="https://instagram.com/{{ site.data.main[5] }}" target="_blank" rel="noopener"
                                    aria-label="Social link">
                                    <span><i class="fa-brands fa-instagram"></i></span>
                                </a>
                            </li>
                            <li class="social__item">
                                <a class="social__link" href="https://wa.me/{{ site.data.main[1] }}" target="_blank" rel="noopener"
                                    aria-label="Social link">
                                    <span><i class="fa-brands fa-whatsapp"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="top" title="Top"><i class="fa-regular fa-hand-point-up"></i> Back to top</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <div class="copyright">2023 &copy; <a href="index.html">{{ site.data.main[0] }}</a>. Crafted & Designed by <a
                        href="https://rzn.netlify.com" target="_blank">Rizwan Shaikh</a>.</div>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->
</div>
<!-- end global wrap -->
<script src="{{ site.url }}/assets/js/scripts.js"></script>
<script src="{{ site.url }}/assets/js/common.js"></script>
</body>
</html>