<section class="section section-gallery">
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <div class="section-gallery__inner">
                    <h3 class="section-gallery__title shuffle">{{ site.data.main[15] }}</h3>
                    <div class="section-gallery__content">
                        <div class="section-gallery__image">
                            <img src="{{ site.data.main[16] }}" alt="Rest" loading="lazy">
                        </div>
                        <div class="section-gallery__image">
                            <img src="{{ site.data.main[17] }}" alt="Rest" loading="lazy">
                        </div>
                        <div class="section-gallery__image">
                            <img src="{{ site.data.main[18] }}" alt="Rest" loading="lazy">
                        </div>
                        <div class="section-gallery__image">
                            <img src="{{ site.data.main[19] }}" alt="Rest" loading="lazy">
                        </div>
                        <div class="section-gallery__image">
                            <img src="{{ site.data.main[20] }}" alt="Rest" loading="lazy">
                        </div>
                        <div class="section-gallery__image">
                            <img src="{{ site.data.main[21] }}" alt="Rest" loading="lazy">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>