<header class="header">
  <div class="container">
    <div class="row">
      <div class="header__inner col col-12">
        <div class="logo">
          <a class="logo__link" href="{{ site.url }}">
            {{ site.title }}
          </a>
        </div>
        <div class="hamburger">
          <div></div>
        </div>
        <nav class="main-nav" aria-label="Main menu">
          <div class="main-nav__box">
            <ul class="nav__list list-reset">
              {% assign current_url = page.url | split: '.html' | first %}
              {% for item in site.data.menu %}
              <li class="nav__item">
                  <a href="{{ item.url }}" class="nav__link {% if item.url == current_url %}active-link{% endif %}">{{ item.title }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="nav-button">
            <div class="nav-search-button">
              <i class="search-button__icon fa-solid fa-magnifying-glass"></i>
              <span class="search-button__text">Search</span>
            </div>
            <a href="{{ site.url }}/contact" class="nav-cta-button button">Get in touch</a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- begin search -->
<div class="search">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="search__box">
          <div class="search__group">
            <i class="search__icon fa-solid fa-magnifying-glass"></i>
            <i class="search__button__close fa-solid fa-xmark"></i>
            <label for="js-search-input" class="screen-reader-text">Search for Job</label>
            <input type="text" id="js-search-input" class="search__text" autocomplete="off"
              placeholder="Search Jobs...">
          </div>
          <div class="search-results-list" id="js-results-container"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="search__overlay"></div>
</div>
<!-- end search -->