<section class="hero">
    <div class="container">
        <div class="hero__inner row">
            <div class="col col-6 col-d-12">
                <div class="hero__left">
                    <span class="hero__intro shuffle">{{ site.data.main[7] }}</span>
                    <h1 class="hero__title">{{ site.data.main[8] }}</h1>
                    <p class="hero__description">{{ site.data.main[9] }}</p>
                    <div class="hero__subscribe">
                        <form class="subscribe-form validate"
                            action="http://gmail.us21.list-manage.com/subscribe/post?u=8aeb9c31a5c97a3a5f9ff2740&amp;id=0e31fd7793&amp;amp"
                            method="POST" id="membedded-subscribe-form" name="membedded-subscribe-form"
                            target="_blank" novalidate>
                            <label class="screen-reader-text" for="mce-EMAIL">Email address</label>
                            <input class="subscribe-email required email" id="mce-EMAIL" type="text"
                                name="EMAIL" placeholder="Your email address">
                            <button class="button button--primary subscribe-button" id="membedded-subscribe"
                                type="submit" name="subscribe">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col col-6 col-d-12">
                <div class="hero__right">
                    <div class="hero__images">
                        <div class="row">
                            <div class="col col-4">
                                <div class="hero__column__one">
                                    <div class="hero__images__box">
                                        <img class="lazy" data-src="{{ site.cdn }}/images/hero-1.jpg" alt="Hobby">
                                    </div>
                                </div>
                            </div>
                            <div class="col col-4">
                                <div class="hero__column__two">
                                    <div class="hero__images__box">
                                        <img class="lazy" data-src="{{ site.cdn }}/images/hero-2.jpg" alt="Apartment">
                                    </div>
                                    <div class="hero__images__box">
                                        <img class="lazy" data-src="{{ site.cdn }}/images/hero-3.jpg" alt="Friends">
                                    </div>
                                </div>
                            </div>
                            <div class="col col-4">
                                <div class="hero__column__three">
                                    <div class="hero__images__box">
                                        <img class="lazy" data-src="{{ site.cdn }}/images/hero-4.jpg" alt="Workflow">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>