<section class="section blog">
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <h2 class="section__title">Jobs Available</h2>
            </div>
        </div>
    </div>
    <div class="blog__inner">
        {% for post in site.posts limit:3 %}
        <div class="article grid__article">
            <div class="container">
                <div class="row">
                    <div class="col col-12">
                        <div class="article__inner">
                            <div class="article__meta">
                                <time class="article__date" datetime="{{ post.date }}">{{ post.date | date: "%d %B %Y" }}</time>
                            </div>
                            <div class="article__content">
                                <span class="article__count">({{ forloop.index }})</span>
                                <div class="article__info">
                                    <h2 class="article__title">
                                        <a href="{{ site.url }}/{{ post.url }}">{{ post.title }}</a>
                                    </h2>
                                    <div class="article-tags__box">
                                        {% for tag in post.tags %}
                                        <a href="{{ site.url }}/tag/{{ tag }}" class="article__tag">{{ tag }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <a href="{{ site.url }}/{{ post.url }}"
                                class="article__button">Read Post <i
                                    class="fa-solid fa-arrow-right-long"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <a href="{{ site.url}}/work" class="section__button">View all <i class="fa-solid fa-arrow-right-long"></i></a>
</section>