<section class="section testimonials">
    <div class="testimonials__wrap">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <h2 class="section__title">See what our customers are saying</h2>
                </div>
            </div>
            <div class="row">
                <div class="col col-4 col-d-6 col-t-12">
                    <div class="testimonial__item">
                        <div class="testimonial__inner">
                            <p class="testimonial__text">“If you're looking for a top-notch product
                                designer, look no further.
                                His ability to merge creativity with functionality is remarkable.”</p>
                            <div class="testimonial__info">
                                <div class="testimonial__meta">
                                    <div class="testimonial__image">
                                        <img class="testimonial__avatar lazy"
                                            data-src="{{ site.cdn }}/images/client-1.jpg" alt="Lucas Parker">
                                    </div>
                                    <div class="testimonial__content">
                                        <h3 class="testimonial__name">
                                            <a href="https://twitter.com/" target="_blank"
                                                rel="noopener">Lucas Parker</a>
                                        </h3>
                                        <p class="testimonial__designation">Web Developer</p>
                                    </div>
                                </div>
                                <div class="testimonial__icon">
                                    <i class="fa-brands fa-twitter" style="color: #1da1f3;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-4 col-d-6 col-t-12">
                    <div class="testimonial__item">
                        <div class="testimonial__inner">
                            <p class="testimonial__text">“His attention to every minute detail ensured that
                                our products stand
                                out, capturing the attention of potential customers.”</p>
                            <div class="testimonial__info">
                                <div class="testimonial__meta">
                                    <div class="testimonial__image">
                                        <img class="testimonial__avatar lazy"
                                            data-src="{{ site.cdn }}/images/client-2.jpg" alt="Olivia Williams">
                                    </div>
                                    <div class="testimonial__content">
                                        <h3 class="testimonial__name">
                                            <a href="https://twitter.com/" target="_blank"
                                                rel="noopener">Olivia Williams</a>
                                        </h3>
                                        <p class="testimonial__designation">Data Analyst</p>
                                    </div>
                                </div>
                                <div class="testimonial__icon">
                                    <i class="fa-brands fa-twitter" style="color: #1da1f3;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-4 col-d-6 col-t-12">
                    <div class="testimonial__item">
                        <div class="testimonial__inner">
                            <p class="testimonial__text">“The designer brought fresh ideas and innovative
                                solutions to our
                                project, delivering results that exceeded our expectations.”</p>
                            <div class="testimonial__info">
                                <div class="testimonial__meta">
                                    <div class="testimonial__image">
                                        <img class="testimonial__avatar lazy"
                                            data-src="{{ site.cdn }}/images/client-3.jpg" alt="Ava Martinez">
                                    </div>
                                    <div class="testimonial__content">
                                        <h3 class="testimonial__name">
                                            <a href="https://twitter.com/" target="_blank"
                                                rel="noopener">Ava Martinez</a>
                                        </h3>
                                        <p class="testimonial__designation">Designer</p>
                                    </div>
                                </div>
                                <div class="testimonial__icon">
                                    <i class="fa-brands fa-twitter" style="color: #1da1f3;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-4 col-d-6 col-t-12">
                    <div class="testimonial__item">
                        <div class="testimonial__inner">
                            <p class="testimonial__text">“Exceptional talent! The designer was instrumental
                                in crafting our
                                brand's identity, infusing it with authenticity and personality.”</p>
                            <div class="testimonial__info">
                                <div class="testimonial__meta">
                                    <div class="testimonial__image">
                                        <img class="testimonial__avatar lazy"
                                            data-src="{{ site.cdn }}/images/client-4.jpg" alt="Evelyn Turner">
                                    </div>
                                    <div class="testimonial__content">
                                        <h3 class="testimonial__name">
                                            <a href="https://instagram.com/" target="_blank"
                                                rel="noopener">Evelyn Turner</a>
                                        </h3>
                                        <p class="testimonial__designation">Data Scientist</p>
                                    </div>
                                </div>
                                <div class="testimonial__icon">
                                    <i class="fa-brands fa-instagram" style="color: #e1306c;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-4 col-d-6 col-t-12">
                    <div class="testimonial__item">
                        <div class="testimonial__inner">
                            <p class="testimonial__text">“Working with the designer was a breath of fresh
                                air! His
                                communication, timeliness, and creative flair were unparalleled.”</p>
                            <div class="testimonial__info">
                                <div class="testimonial__meta">
                                    <div class="testimonial__image">
                                        <img class="testimonial__avatar lazy"
                                            data-src="{{ site.cdn }}/images/client-5.jpg" alt="Oliver Davis">
                                    </div>
                                    <div class="testimonial__content">
                                        <h3 class="testimonial__name">
                                            <a href="https://facebook.com/" target="_blank"
                                                rel="noopener">Oliver Davis</a>
                                        </h3>
                                        <p class="testimonial__designation">Software Engineer</p>
                                    </div>
                                </div>
                                <div class="testimonial__icon">
                                    <i class="fa-brands fa-facebook-f" style="color: #1977f3;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-4 col-d-6 col-t-12">
                    <div class="testimonial__item">
                        <div class="testimonial__inner">
                            <p class="testimonial__text">“His expertise in web design and branding elevated
                                our online presence,
                                attracting more visitors and increasing our conversions.”</p>
                            <div class="testimonial__info">
                                <div class="testimonial__meta">
                                    <div class="testimonial__image">
                                        <img class="testimonial__avatar lazy"
                                            data-src="{{ site.cdn }}/images/client-6.jpg" alt="Isabella Lee">
                                    </div>
                                    <div class="testimonial__content">
                                        <h3 class="testimonial__name">
                                            <a href="https://twitter.com/" target="_blank"
                                                rel="noopener">Isabella Lee</a>
                                        </h3>
                                        <p class="testimonial__designation">QA Engineer</p>
                                    </div>
                                </div>
                                <div class="testimonial__icon">
                                    <i class="fa-brands fa-twitter" style="color: #1da1f3;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-4 col-d-6 col-t-12">
                    <div class="testimonial__item">
                        <div class="testimonial__inner">
                            <p class="testimonial__text">“Jessy brought fresh ideas and innovative solutions
                                to our project,
                                delivering results that exceeded our expectations.”</p>
                            <div class="testimonial__info">
                                <div class="testimonial__meta">
                                    <div class="testimonial__image">
                                        <img class="testimonial__avatar lazy"
                                            data-src="{{ site.cdn }}/images/client-7.jpg" alt="James Wright">
                                    </div>
                                    <div class="testimonial__content">
                                        <h3 class="testimonial__name">
                                            <a href="https://facebook.com/" target="_blank"
                                                rel="noopener">James Wright</a>
                                        </h3>
                                        <p class="testimonial__designation">Data Analyst</p>
                                    </div>
                                </div>
                                <div class="testimonial__icon">
                                    <i class="fa-brands fa-facebook-f" style="color: #1977f3;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-4 col-d-6 col-t-12">
                    <div class="testimonial__item">
                        <div class="testimonial__inner">
                            <p class="testimonial__text">“I can't thank Jessy enough for their outstanding
                                UI/UX design
                                services. He took our app's user experience to new heights.”</p>
                            <div class="testimonial__info">
                                <div class="testimonial__meta">
                                    <div class="testimonial__image">
                                        <img class="testimonial__avatar lazy"
                                            data-src="{{ site.cdn }}/images/client-8.jpg" alt="Layla Foster">
                                    </div>
                                    <div class="testimonial__content">
                                        <h3 class="testimonial__name">
                                            <a href="https://twitter.com/" target="_blank"
                                                rel="noopener">Layla Foster</a>
                                        </h3>
                                        <p class="testimonial__designation">CEO</p>
                                    </div>
                                </div>
                                <div class="testimonial__icon">
                                    <i class="fa-brands fa-twitter" style="color: #1da1f3;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-4 col-d-6 col-t-12">
                    <div class="testimonial__item">
                        <div class="testimonial__inner">
                            <p class="testimonial__text">“Simply outstanding! The designer helped us turn
                                our vague concept into
                                a fully functional and visually stunning app.”</p>
                            <div class="testimonial__info">
                                <div class="testimonial__meta">
                                    <div class="testimonial__image">
                                        <img class="testimonial__avatar lazy"
                                            data-src="{{ site.cdn }}/images/client-9.jpg" alt="Emily Collins">
                                    </div>
                                    <div class="testimonial__content">
                                        <h3 class="testimonial__name">
                                            <a href="https://instagram.com/" target="_blank"
                                                rel="noopener">Emily Collins</a>
                                        </h3>
                                        <p class="testimonial__designation">DevOps</p>
                                    </div>
                                </div>
                                <div class="testimonial__icon">
                                    <i class="fa-brands fa-instagram" style="color: #e1306c;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>