---
layout: default
---
<!-- begin content -->
<main class="content" aria-label="Content">
    <!-- begin page-section -->
    <section class="page-section">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <h1 class="page-section__title">{{ page.title | replace: "-", " " | capitalize }}</h1>
                </div>
            </div>
        </div>
        <div class="grid">
          {% for post in site.posts %}
          {% if post.tags contains page.title %}
            <div class="article grid__article">
                <div class="container">
                    <div class="row">
                        <div class="col col-12">
                            <div class="article__inner">
                                <div class="article__meta">
                                    <time class="article__date" datetime="2023-07-20T12:01:35+00:00">{{ post.date | date: "%d %B %Y" }}</time>
                                </div>
                                <div class="article__content">
                                    <span class="article__count">({{ forloop.index }})</span>
                                    <div class="article__info">
                                        <h2 class="article__title">
                                            <a href="{{ site.url }}/{{ post.url }}">{{ post.title }}</a>
                                        </h2>
                                        <div class="article-tags__box">
                                            {% for tag in post.tags %}
                                            <a href="{{ site.url }}/tag/{{ tag }}" class="article__tag">{{ tag }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <a href="forging-user-connections-through-empathy.html" class="article__button">Read
                                    Post <i class="fa-solid fa-arrow-right-long"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </section>
    <!-- end page-section -->
    <!-- begin pagination -->

    <!-- end pagination -->
    <!-- begin section-gallery -->
    {% include gallery.html %}
    <!-- end section-gallery -->
</main>