---
layout: default
title: Home
---
<!-- begin content -->
<main class="content" aria-label="Content">
    <!-- begin hero -->
    {% include hero.html %}
    <!-- end hero -->
    <!-- begin projects -->
    {% include blog.html %}
    <!-- end projects -->
    <!-- begin testimonials -->
    {% include tstm.html %}
    <!-- end testimonials -->
    <!-- begin job -->
    {% include job.html %}
    <!-- end job -->
    <!-- begin author -->
    {% include about.html %}
    <!-- end author -->
    <!-- begin section-tags -->
    {% include tag.html %}
    <!-- end section-tags -->
    <!-- begin section-gallery -->
    {% include gallery.html %}
    <!-- end section-gallery -->
</main>
<!-- end content -->