---
layout: default
title: Articles
---
<main class="content" aria-label="Content">
    <!-- begin page-section -->
    <section class="page-section">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <h1 class="page-section__title">Articles</h1>
                </div>
            </div>
        </div>
        {% for article in site.articles %}
        <article class="project">
            <div class="project__content">
                <div class="project__info">
                    <div class="container">
                        <div class="row">
                            <div class="project__info__left col col-6 col-d-12">
                                <div class="project__meta">
                                    <span class="project__label">{{ article.categories | join: ', ' }}</span>
                                    <h3 class="project__title"><a href="{{ site.url }}{{ article.url }}">{{
                                            article.title }}</a></h3>
                                    <p class="project__description">
                                        {{ article.title }}
                                    </p>
                                    <a href="{{ article.url}}" class="project__button">Read <i class="fa-solid fa-arrow-right-long"></i></a>
                                </div>
                            </div>
                            <div class="project__info__right col col-6 col-d-12">
                                <div class="project__image">
                                    <img class="lazy" data-src="{{ article.image }}" alt="{{ article.title }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        {% endfor %}
    </section>
    <!-- begin author -->
    {% include about.html %}
    <!-- end author -->
    <!-- begin section-gallery -->
    {% include gallery.html %}
    <!-- end section-gallery -->
</main>